<!-- <nav class="navbar bg-info"><h4>header</h4></nav>
<div class="container">
  <div class="row">
    <div class="col-lg-9 bg-light" >
      <h5 class="mt-3">Articulo</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus natus sit saepe blanditiis maiores ullam deserunt deleniti quae asperiores, fugit dolor illum, eveniet harum aliquam iusto magni similique mollitia illo.</p>
    </div>
    <div class="col-lg-3 d-none d-lg-block bg-danger text-white">
      <h5 class="mt-3">Aside</h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium repellat quam fugit, doloribus neque exercitationem est mollitia sunt ullam laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 bg-info text-white">
      <h5 class="mt-3">Columna1</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ratione nesciunt quam repellendus maxime odio.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <h5 class="mt-3">Columna2</h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio inventore sapiente autem perspiciatis aliquid laboriosam.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 bg-info text-white">
      <h5 class="mt-3">Columna3</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus, incidunt aperiam ipsa facilis provident.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <h5 class="mt-3">Columna4</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quas a quidem minus tempora provident!</p>
    </div>
  </div>

</div> -->



<div class="container">

<div class="row">
  <div class="col-md-4">
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section >
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
  </div>
  <div class="col-md-4">
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
  </div>
  <div class="col-md-4">
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores.</p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, saepe!</p>
    </section>
  </div>
</div>


</div>
