<!-- <nav class="navbar bg-info"><h4>header</h4></nav>
<div class="container">
  <div class="row">
    <div class="col-lg-9 bg-light" >
      <h5 class="mt-3">Articulo</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus natus sit saepe blanditiis maiores ullam deserunt deleniti quae asperiores, fugit dolor illum, eveniet harum aliquam iusto magni similique mollitia illo.</p>
    </div>
    <div class="col-lg-3 d-none d-lg-block bg-danger text-white">
      <h5 class="mt-3">Aside</h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium repellat quam fugit, doloribus neque exercitationem est mollitia sunt ullam laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 bg-info text-white">
      <h5 class="mt-3">Columna1</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ratione nesciunt quam repellendus maxime odio.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <h5 class="mt-3">Columna2</h5>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio inventore sapiente autem perspiciatis aliquid laboriosam.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 bg-info text-white">
      <h5 class="mt-3">Columna3</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus, incidunt aperiam ipsa facilis provident.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <h5 class="mt-3">Columna4</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quas a quidem minus tempora provident!</p>
    </div>
  </div>

</div> -->

<!--practica 4-->

<div class="container-fluid">

<div class="row">
  <div class="col-md-4">
    <section>
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta maxime consectetur, suscipit nemo pariatur vitae maiores temporibus ut explicabo minus.</p>
    </section>
    <section >
      <p><mark>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi excepturi omnis iusto deleniti rem, consequatur nostrum libero odit qui dolor.</mark></p>
    </section>
    <section>
      <p><del>ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae veniam quibusdam, nobis deleniti dolorum nisi provident?</del> </p>
    </section>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laborum illo animi aperiam impedit id molestias delectus iste.!</p>
    </section>
    <section>
      <p class="text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat alias pariatur laboriosam recusandae at ratione.</p>
    </section>
    <section>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium officiis numquam qui expedita perferendis quaerat obcaecati laboriosam!</p>
    </section>
  </div>
  <div class="col-md-4">
    <section>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut numquam excepturi vero ipsum ratione odio quam, unde neque repellendus.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae sequi voluptates, facilis aperiam sunt quis distinctio.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, ea odit praesentium accusamus consequatur quisquam beatae incidunt recusandae modi.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea aperiam, eos deleniti quaerat laudantium ipsum.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sequi iste omnis doloremque aspernatur, error harum id quam.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia modi, sint tempore doloribus ad eaque deleniti. Sed rerum eos facere.</p>
    </section>
    <section>
      <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint deleniti possimus perspiciatis rerum ab itaque consequatur.</p>
    </section>
  </div>
  <div class="col-md-4">
    <section>
      <p class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid deserunt provident similique qui possimus corporis alias eaque, nesciunt perspiciatis facilis!</p>
    </section>
    <section>
      <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </section>
    <section>
      <div data-spy="scroll">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dignissimos maiores nemo numquam eos id veniam sint ad officia assumenda Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo necessitatibus vero pariatur voluptates totam unde incidunt fugit ullam earum dolores! .</p>
      </div>
    </section>
    <section>
      <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nostrum soluta in perspiciatis! Ducimus ipsum cupiditate velit, quae veniam odit.</p>
    </section>
    <section>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laborum incidunt id ut unde, eos deserunt sunt? Natus?.</p>
    </section>
    <section>
      <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reprehenderit quos necessitatibus eius quidem fuga adipisci officia sint.</p>
    </section>
    <section>
      <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestias quod sint deserunt. Expedita placeat ullam maiores, molestiae, itaque dolor, veniam architecto aut porro sequi iste at? Cumque, molestias magni.</p>
    </section>
  </div>
</div>


</div>


<!--practica 5

<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"># ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <th>Nombre 1</th>
        <th>Usuario 1</th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <th>Nombre 2</th>
        <th>Usuario 2</th>
      </tr>
      <tr class="table-success">
        <th scope="row">3</th>
        <th>Nombre 3</th>
        <th>Usuario 3</th>
      </tr>
    </tbody>
  </table>

</div>

<div class="container-fluid pt-5">
  <form>

      <div class="form-group">
        <label for="exampleFormControlInput1"><strong>Label basica</strong> </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="input basico">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="textarea"></textarea>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Checkbox #1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Checkbox #2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Checkbox #3
          </label>
        </div>
      </div>

    <fieldset class="form-group">
      <div class="row">
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
            <label class="form-check-label" for="gridRadios1">
              Radio #1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Radio #2
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios3">
              Radio #3
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" >Enviar</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid pt-5">

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1"><strong>Nombre</strong></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre:">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1"><strong>Elige una opcion</strong></label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Opción #1</option>
        <option>Opción #2</option>
        <option>Opción #3</option>
        <option>Opción #4</option>
        <option>Opción #5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><strong>Mensaje</strong></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje:"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1"><strong>Archivo:</strong></label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
      <label for="">Maximo 20MB</label>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-warning text-white">Enviar</button>
      </div>
    </div>


  </form>

</div>

<div class="container-fluid pt-5">

  <form>
    <div class="form-row align-items-center">
      <label for="inlineFormInputName"><strong>Nombre:</strong></label>
      <div class="col-sm-3 my-1">
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Nombre:">
      </div>
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername">Correo:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Correo">
        </div>
      </div>
      <div class="col-auto my-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
          <label class="form-check-label" for="autoSizingCheck2">
            Recuerdame
          </label>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>

</div>-->
