<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" data-abc="true">Ilerna</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" data-abc="true"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Diseño Web</a>
          <a class="dropdown-item" href="#">CSS</a>
          <a class="dropdown-item" href="#">Cursos</a>
          <a class="dropdown-item" href="#">Desarrollo Web</a>
          <a class="dropdown-item" href="#">JQuery</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-abc="true">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-abc="true">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" />
      <button class="btn btn-primary my-2 my-sm-0" type="submit">
        <i class="fas fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>
<div class="container-fluid bg-primary text-white p-4">
  <div class="ml-5">
    <h1>Clase de DAW2</h1>
    <p>Alumnos y profesores todos contentos</p>
  </div>
</div>
<article class="row">
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 ">
    <div class="container py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item"><a href="#">Categorias</a></li>
          <li class="breadcrumb-item active" aria-current="page">Diseño Web</li>
        </ol>
      </nav>
      <section class="row">
        <div class="col-md-4">
          <img src="assets/siguenos.png" class="w-100" />
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3 pt-3">
            <h4 class="card-title">Vente a estudiar programación web</h4>
            <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
            <p class="card-text text-justify">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Similique qui praesentium saepe ut illum amet molestias fugit
              inventore eaque corporis nemo sapiente, quasi cum ab, dolore ipsum
              alias repudiandae porro.
            </p>
            <a href="#" class="btn btn-primary mr-1">Leer Más</a>
            <button type="button" class="btn btn-success">
              Comentarios <span class="badge badge-light text-success">20</span>
            </button>
          </div>
        </div>
      </section>

      <hr class="my-4 border" />
      <section class="row">
        <div class="col-md-4">
          <img src="assets/alumnos.jpg" class="w-100" />
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3 pt-3">
            <h4 class="card-title">Vente a estudiar en Java</h4>
            <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
            <p class="card-text text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem dolore delectus eius odit blanditiis voluptatibus
              quidem officiis magni in temporibus minima ipsam suscipit dolores
              doloremque a at amet quaerat, neque adipisci eveniet. Cumque
              recusandae autem laudantium perspiciatis maiores magnam nostrum
              sed ipsa?
            </p>
            <a href="#" class="btn btn-primary mr-1">Leer Más</a>
            <button type="button" class="btn btn-success">
              Comentarios <span class="badge badge-light text-success">13</span>
            </button>
          </div>
        </div>
      </section>

      <hr class="my-4 border" />
      <section class="row">
        <div class="col-md-4">
          <img src="assets/ilerna.png" class="w-100" />
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3 pt-3">
            <h4 class="card-title">Vente a estudiar redes</h4>
            <small>1 de Enero de 2020 por <a href="#">Nelson Pérez</a></small>
            <p class="card-text text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
              facilis! Odio impedit architecto tenetur error nobis ullam numquam
              obcaecati, laudantium molestiae quas. Fugit repellendus quam
              excepturi ut libero sunt aperiam ea minima, ullam iusto. Delectus
              voluptas, error atque expedita id tenetur suscipit aliquam sequi
              magnam, quas commodi odio quaerat quae?
            </p>
            <a href="#" class="btn btn-primary mr-1">Leer Más</a>
            <button type="button" class="btn btn-success">
              Comentarios <span class="badge badge-light text-success">0</span>
            </button>
          </div>
        </div>
      </section>

      <hr class="my-5 border" />
      <footer>
        <div class="row">
          <div class="col-10">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <p>Nelson Pérez Varona - Clase DAW2</p>
          </div>
          <div class="col-2">
            <ul class="list-group list-group-horizontal-md">
              <a href="#" class="mr-3">Inicio</a>
              <a href="#" class="mr-3">Cursos</a>
              <a href="#" class="mr-3">Contactos</a>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <aside class="col-lg-3 d-none d-xl-block ">
    <div class="container py-4">
      <h5 class="w-700 mb-3">Categorias</h5>
      <div class="list-group mr-5">
        <a
          href="#"
          class="list-group-item list-group-item-action active"
          aria-current="true"
        >
          Diseño Web
        </a>
        <a href="#" class="list-group-item list-group-item-action">CSS</a>
        <a href="#" class="list-group-item list-group-item-action">Cursos</a>
        <a href="#" class="list-group-item list-group-item-action"
          >Desarrollo Web</a
        >
        <a href="#" class="list-group-item list-group-item-action">JQuery</a>
      </div>
    </div>
    <div class="container py-4">
      <h5 class="w-700 mb-3">Articulos Recientes</h5>
      <div class="list-group mr-5">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Primer articulo</h5>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
          </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Segundo articulo</h5>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
          </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Tercer articulo</h5>
          </div>
          <p class="mb-1">
            Donec id elit non mi porta gravida at eget metus. Maecenas sed diam
            eget risus varius blandit.
          </p>
        </a>
      </div>
    </div>
  </aside>
</article>
