form {
  width: 25%;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  background-color: rgb(224, 209, 238);
  border: 2px solid black;
  border-radius: 6px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

label{
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}


input, textarea {
  background-color: rgb(234, 234, 240);
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;

}

textarea {
  height: 100px;
}

input[type="button"]{
  background:  rgb(100, 100, 231);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  transition: all 1s;
}

input[type="button"]:hover{
  background-color: rgb(60, 60, 255);
  color: red;
  cursor: pointer;
}

.correcto, .incorrecto, .mensaje {
  color: red;
  cursor: pointer;
}
